packages:
  yum:
    cmake: []
    gcc: []
    gcc-c++: []
    libX11-devel: []
    libXext: []
    libSM: []
    libXrender: []
    libglib2.0-0: []
    libgl1-mesa-glx: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: server:application
  aws:elasticbeanstalk:application:environment:
    MONGODB_URI: "mongodb+srv://trungnhanforwork:Nhan280803%40@cluster0.qalmkcs.mongodb.net/cmt?retryWrites=true&w=majority&appName=Cluster0&tls=true" 